@model DeliveryInatechMvc.Models.ExecutiveTb

@{
    ViewBag.Title = "ExecutiveLogin";
}
<html>

<head>
    <link href="~/Bootstrap/CSS/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Bootstrap/JS/bootstrap.bundle.min.js"></script>
    <script src="~/Bootstrap/JS/bootstrap.min.js"></script>
    <script src="~/Bootstrap/JS/popper.min.js"></script>

</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <img src="~/Images/LogoD.jpg" />
            @*<img src="~/Images/truckLOGO.jpg" />*@

            <div class="collapse navbar-collapse" id="navbarSupportContent">
                <ul class="navbar-nav d-flex me-auto">
                    <li class="nav-item active">
                        @Html.ActionLink("Home", "Project", "Index") &nbsp;&nbsp;
                    </li>
                    <li class="nav-item active">
                        @Html.ActionLink("About Us", "Project", "Index") &nbsp;&nbsp;
                    </li>
                    <li class="nav-item active">
                        @Html.ActionLink("Terms", "Project", "Index") &nbsp;&nbsp;
                    </li>
                </ul>
                <ul class="navbar-nav">

                    <li class="nav-item active">
                        @Html.ActionLink("User Login", "CustomerLogin", "Project") &nbsp;&nbsp;
                    </li>
                    <li class="nav-item active">
                        @Html.ActionLink("SignUp", "CustomerSignUp", "Project") &nbsp;&nbsp;
                    </li>
                    <li>
                        @Html.ActionLink("Back to HomePage", "Index", "Project")
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <h3><strong>@TempData["messages"]</strong></h3>
    @using (Html.BeginForm("ExecutiveLogin", "Project", FormMethod.Post))
    {
<div class="container" style="margin-left:400px">
    <div class="row">
        <label>Email Id</label>
        @Html.TextBoxFor(x => x.Email, new { @style = "width:300px" })
        @Html.ValidationMessageFor(x => x.Email, null, new { @class = "text-danger" })
    </div>
    <div class="row">
        <label>Password</label>
        @Html.TextBoxFor(x => x.Password, new { @type = "password", @style = "width:300px" })
        @Html.ValidationMessageFor(x => x.Password, null, new { @class = "text-danger" })
    </div>
    <br />
    <input type="submit" style = "width:150px" class="btn btn-primary" value="Login" />
    <input type="reset" style = "width:150px" class="btn btn-warning" value="Reset" />
</div>
    }
    
</body>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</html>
